$theme-color: #00a1d6;

$theme-color-a: rgba(0, 161, 214, 0.5);

$theme-color-a-3: rgba(0, 161, 214, 0.3);

$theme-color-bold: #09bffb;

$theme-background-color: #f2f2f2;

$theme-color-placeholder: #999;

$theme-background-white: #ffffff;

$theme-background-white-a:rgba(255,255,255,0.3);


// $theme-color: #fb7299

